<h1>Edit article</h1>

<% if @new_article.errors.any? %>
<h2>These are errors</h2>
    <ul>
        <% @new_article.errors.full_messages.each do |msg| %>
            <li>  <%= msg%> </li>
        <% end %>
    </ul>
<%end%>



<%= form_with(model: @new_article, local: true) do |f| %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title%>
    </p>

    <p>
        <%= f.label :description%><br>
        <%= f.text_area :description%>
    </p>

    <p>
        <%= f.submit %><br>
    </p>
<%end %>

<%= link_to 'Return', articles_path(@articles) %>

